<!-- <p>form works!</p> -->
<div class="container">

    <form [formGroup]='form'>
        <div class="formelement">
            <label for="namefield">Name:</label>
            <input id="namefield" formControlName="name" >
        </div>
        <div class="formelement">
            <label for="emailfield">Email:</label>
            <input id="emailfield" formControlName="email">
        </div>
        <div class="formelement"> 
            <label>Feedback:
                <ul>
                    <li>
                        <input type="radio" name="feedback" value="Great" id='Great' formControlName="feedback" class="radio-btn">
                        <label for='Great'>Great:</label><br>
                    </li>
                    <li>
                        <input type="radio" name="feedback" value="Okay" id="Okay" formControlName="feedback" class="radio-btn">
                        <label for='Okay'>Okay:</label>
                    </li>
                    <li>
                        <input type="radio" name="feedback" value="Not good" id="Not good" formControlName="feedback" class="radio-btn">
                        <label for='Not good'>Not good:</label>
                    </li>
                </ul> 
            </label>
        </div>
        <div class="formelement">
            <label for="commentfield">Comments:</label><br>
            <textarea id='commentfield' formControlName="comment" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Submit your Feedback now!" (click)=onsubmit() class="submit-element">
    </form>
</div>